apiVersion: apps/v1
kind: Deployment
metadata:
  name: weather-ml-deploy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: weather-ml-app
  template:
    metadata:
      labels:
        app: weather-ml-app
    spec:
      containers:
        - name: weather-ml-app
          image: domnup/weather-ml-app:v2
          ports:
            - containerPort: 5000
          imagePullPolicy: IfNotPresent

